<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='static/css/fragments.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <wrapper class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <a href="/" class="navbar-brand">NHS GP</a>
                <a href="/">Home</a>
                <a href="/userprofile">User Profile</a>
                <a id="afterme" href="/appointment">Book Appointment</a>
                <span class="navbar-text">
                    For healthcare that values your time.
                </span>
            </div>

        </nav>
        
        <main class="container-fluid flex-fill">